In [1]:
import pandas as pd
import os
import datetime
from Parser.TableParser import TableParser
from Parser.HolidaysParser import HolidaysParser

In [4]:
all_df = []
source = 'Datasets/processed_xlsx/'
for directory in os.listdir(source):
    for filepath in os.listdir(source + directory):
        df = pd.read_excel(source + directory + '/' + filepath)
        all_df.append(df)

In [5]:
df = pd.concat(all_df)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 166260 entries, 0 to 6212
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     166260 non-null  int64
 1   date           163970 non-null  datetime64[ns]
 2   number         166260 non-null  object
 3   patient        0 non-null       float64
 4   age            166260 non-null  object
 5   called by      117411 non-null  object
 6   address        91371 non-null   object
 7   Occasion       152641 non-null  object
 8   Call Type      165895 non-null  object
 9   Sick Type      158771 non-null  object
 10  Diagnose       160128 non-null  object
 11  Result         163871 non-null  object
 12  Delivered to   166175 non-null  object
 13  brigade        0 non-null       float64
 14  substation     163957 non-null  object
 15  Accepted time  166170 non-null  datetime64[ns]
 16  Arrived time   166168 non-null  datetime64[ns]
 17  hospitalized   0 non-null       float64
 18  executive      0 non-null       float64
dtypes: datetime64[ns](3), float64(4), int64(1), object(11)
memory usage: 25.4+ MB

In [7]:
df = df.drop(['Unnamed: 0', 'patient', 'hospitalized', 'executive', 'brigade', 'address', 'number', 'called by'], axis=1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 166260 entries, 0 to 6212
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   date           163970 non-null  datetime64[ns]
 1   age            166260 non-null  object
 2   Occasion       152641 non-null  object
 3   Call Type      165895 non-null  object
 4   Sick Type      158771 non-null  object
 5   Diagnose       160128 non-null  object
 6   Result         163871 non-null  object
 7   Delivered to   166175 non-null  object
 8   substation     163957 non-null  object
 9   Accepted time  166170 non-null  datetime64[ns]
 10  Arrived time   166168 non-null  datetime64[ns]
dtypes: datetime64[ns](3), object(8)
memory usage: 15.2+ MB

In [9]:
df = df.dropna()

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141791 entries, 17 to 6212
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   date           141791 non-null  datetime64[ns]
 1   age            141791 non-null  object
 2   Occasion       141791 non-null  object
 3   Call Type      141791 non-null  object
 4   Sick Type      141791 non-null  object
 5   Diagnose       141791 non-null  object
 6   Result         141791 non-null  object
 7   Delivered to   141791 non-null  object
 8   substation     141791 non-null  object
 9   Accepted time  141791 non-null  datetime64[ns]
 10  Arrived time   141791 non-null  datetime64[ns]
dtypes: datetime64[ns](3), object(8)
memory usage: 13.0+ MB

In [11]:
df['dayofyear'] = df['date'].dt.dayofyear
df['dayofweek'] = df['date'].dt.dayofweek

In [12]:
all_weather_dfs = []
for year in [2020, 2021, 2022]:
    weather_df = pd.read_excel(f'additionalData/weather/{year}.xls', skiprows=6)
    all_weather_dfs.append(weather_df)
df_weather = pd.concat(all_weather_dfs)

In [13]:
df_weather = df_weather.rename({'Местное время в Нижнем Новгороде':'datetime'}, axis=1)
df_weather['datetime'] = pd.to_datetime(df_weather['datetime'])

In [14]:
df_weather['date'] = df_weather['datetime'].dt.date.astype('datetime64')

In [15]:
df_weather['date']

0      2020-12-31
1      2020-12-31
2      2020-12-31
3      2020-12-31
4      2020-12-31
          ...
1203   2022-01-01
1204   2022-01-01
1205   2022-01-01
1206   2022-01-01
1207   2022-01-01
Name: date, Length: 7056, dtype: datetime64[ns]

In [16]:
df_weather = df_weather.groupby('date')[['T', 'Po', 'U']].mean()

In [17]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 882 entries, 2020-01-01 to 2022-12-05
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   T       882 non-null    float64
 1   Po      882 non-null    float64
 2   U       882 non-null    float64
dtypes: float64(3)
memory usage: 27.6 KB

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141791 entries, 17 to 6212
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   date           141791 non-null  datetime64[ns]
 1   age            141791 non-null  object
 2   Occasion       141791 non-null  object
 3   Call Type      141791 non-null  object
 4   Sick Type      141791 non-null  object
 5   Diagnose       141791 non-null  object
 6   Result         141791 non-null  object
 7   Delivered to   141791 non-null  object
 8   substation     141791 non-null  object
 9   Accepted time  141791 non-null  datetime64[ns]
 10  Arrived time   141791 non-null  datetime64[ns]
 11  dayofyear      141791 non-null  int64
 12  dayofweek      141791 non-null  int64
dtypes: datetime64[ns](3), int64(2), object(8)
memory usage: 15.1+ MB

In [19]:
holidays = []
for year in (2020, 2021, 2022):
    holidays.extend(HolidaysParser.get_holidays(year))

In [20]:
holidays = [datetime.datetime.strptime(holiday, "%d.%m.%Y") for holiday in holidays]

In [41]:
holidays_df = pd.DataFrame({'holiday day': 1, 'date': holidays})

In [42]:
total_df = df.merge(df_weather, on='date', how='left').merge(holidays_df, on='date', how='left')

In [43]:
total_df['holiday day'] = total_df['holiday day'].fillna(0)

In [44]:
total_df['day'] = total_df['date'].dt.day
total_df['month'] = total_df['date'].dt.month
total_df['year'] = total_df['date'].dt.year

In [45]:
total_df = total_df.iloc[:, -9:]

In [47]:
statistic_for_period = total_df.groupby(['year','month', 'day']).count()['dayofyear']

In [49]:
result_df = total_df.merge(statistic_for_period, on=['month', 'year', 'day'], how='left')

In [51]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [52]:
result_df = result_df.rename({'dayofyear_y': 'calls'}, axis=1)

In [53]:
result_df = result_df.dropna()

In [54]:
X = result_df.drop('calls', axis=1)
y = result_df['calls']

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

In [56]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_train, y_train)
pred = model.predict(X_test)
r2_score(y_test, pred)

0.9999999638863584